In [1]:
import datetime as dt

x = dt.datetime.now()
print(x)

2023-06-07 18:56:00.525565

In [12]:
import datetime 

x = datetime.datetime.now()
print(x.year)
print(x.month)
print(x.day)

print(x.strftime("%c"))

2023
6
7
Wed Jun  7 19:01:32 2023

In [13]:
import datetime 

x = datetime.datetime.now()
print(x.year)
print(x.month)
print(x.day)

print(x.strftime("%D"))

2023
6
7
06/07/23

In [14]:
#how much time
x = datetime.datetime.now()
for i in range(100):
    pass
y = datetime.datetime.now()
print(y-x)

0:00:00

In [15]:
#how much time taken to input name (use In online exam)
x = datetime.datetime.now()

name = input("Enter name = ")
y = datetime.datetime.now()
print(y-x)

Enter name = Jatin
0:00:02.848288

In [ ]:
# Comprehensions: List, Dictionary

In [18]:
a = [i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [20]:
a = [i*2 for i in range(5)]
a

[0, 2, 4, 6, 8]

In [23]:
a = [i*2 for i in range(1,11)]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [1]:
a = [int(input("Enter value = ")) for i in range(5)]
a

Enter value = 23
Enter value = 43
Enter value = 54
Enter value = 64
Enter value = 64

[23, 43, 54, 64, 64]

In [2]:
a = sum([int(input("Enter value = ")) for i in range(5)])
a

Enter value = 24
Enter value = 53
Enter value = 6
Enter value = 33
Enter value = 66

182

In [ ]:
a

In [6]:
a = {input("Enter Key "):int(input("Enter value = ")) for i in range(5)}
a

Enter Key a
Enter value = 12
Enter Key b
Enter value = 23
Enter Key c
Enter value = 34
Enter Key d
Enter value = 54
Enter Key e
Enter value = 432

{'a': 12, 'b': 23, 'c': 34, 'd': 54, 'e': 432}

In [8]:
a = {input("Enter name: "):int(input("Enter value: ")) for i in range(2)}
a

Enter name: jatin
Enter value: 9821574477
Enter name: liam
Enter value: +4917661440505

{'jatin': 9821574477, 'liam': 4917661440505}

In [9]:
n = 2
a = {input("Enter name: "):int(input("Enter value: ")) for i in range(n)}
a

Enter name: jatin
Enter value: 33333
Enter name: liam
Enter value: 325555

{'jatin': 33333, 'liam': 325555}

In [ ]:
#python os

In [10]:
import os 
os.listdir()

['.git',
 '.ipynb_checkpoints',
 '6th class.txt',
 'bill.csv',
 'bill.txt',
 'bill1.csv',
 'Bonus.ipynb',
 'covid_data.csv',
 'data.csv',
 'data.txt',
 'data1.txt',
 'Day2-io.ipynb',
 'dict.ipynb',
 'File Handling.ipynb',
 'first.py',
 'first_class.ipynb',
 'From Sir',
 'function.ipynb',
 'GitHub.txt',
 'if else (1).ipynb',
 'if else.ipynb',
 'Inheritance.ipynb',
 'List.ipynb',
 'loop (1).ipynb',
 'loop (2).ipynb',
 'loop.ipynb',
 'MOSH.ipynb',
 'mysql.ipynb',
 'news_data.csv',
 'news_data.json',
 'OOP.ipynb',
 'Panadas',
 'Project.ipynb',
 'Self Practice',
 'Set.ipynb',
 'Strings.ipynb',
 'strings.py',
 'TUPLE.ipynb',
 'Untitled.ipynb',
 'while.ipynb']

In [11]:
os.mkdir('New_Folder') #for creating a new folder

In [12]:
os.rename('New_Folder','jatin new_folder') #for renaming the folder

In [13]:
os.chdir('jatin new_folder') #for entering in jatin new_folder

In [14]:
pwd

'C:\\Users\\jatin\\Desktop\\Python with Django\\jatin new_folder'

In [15]:
cd ..

C:\Users\jatin\Desktop\Python with Django

In [16]:
pwd

'C:\\Users\\jatin\\Desktop\\Python with Django'

In [17]:
cd jatin new_folder

C:\Users\jatin\Desktop\Python with Django\jatin new_folder

In [18]:
cd ..

C:\Users\jatin\Desktop\Python with Django

In [19]:
os.remove('data.txt')

In [20]:
os.rmdir('jatin new_folder') #for removing directory

In [21]:
#python re ....(Regular Expression)

In [24]:

import re

#Return a list containing every occurrence of "ai":

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [26]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)


import re 
txt = "The rain in KTM"
x = re.search("KTM", txt )
print(x)

None
<re.Match object; span=(12, 15), match='KTM'>