In [ ]:
# Dict
# -Indexing
# -Multiple data
# -Ordered
# -Mutable

In [ ]:
# d = {<key>:<value>, <key>:<value>,<key>:<value>}

In [1]:
d = {"a":"Apple","b":"Ball"}
print(d)
print(len(d))

{'a': 'Apple', 'b': 'Ball'}
2

In [2]:
print(d["a"])

Apple

In [3]:
print(d["b"])

Ball

In [4]:
d = {"a":"Apple","b":"Ball"}
print(d)

{'a': 'Apple', 'b': 'Ball'}

In [ ]:
# d = dict()
# d = {}

In [6]:
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [8]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
a['b'] = "apple"
a

{'a': 'Apple', 'b': 'apple', 'c': 'Cat'}

In [10]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
a['a'] = "Ant"
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [11]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in a:
    print(i)

a
b
c

In [13]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in a.values():
    print(i)

Apple
Ball
Cat

In [14]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in a.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [18]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone #duplication of name should not be there
    
print(d)

Enter n = 2
Enter name = jatin
Enter phone = 9821574477
Enter name = liam
Enter phone = 9867835225
{'jatin': 9821574477, 'liam': 9867835225}

In [19]:
a = {}
a['a'] = 'Apple'
a['b'] = 'Ball'
a['c'] = 'Cat'
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [23]:
# NO + * (Artithmetic operators cannot be used)
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
a = {'e':'Egg', 'f':'Fish'}
d.update(a)
d

{'a': 'Apple', 'b': 'ball', 'c': 'Cat', 'e': 'Egg', 'f': 'Fish'}

In [24]:
# del
a = {'a': 'Apple', 'b': 'ball', 'c': 'Cat', 'e': 'Egg', 'f': 'Fish'}
del a['a']
a

{'b': 'ball', 'c': 'Cat', 'e': 'Egg', 'f': 'Fish'}

In [27]:
# pop
a = {'a': 'Apple', 'b': 'ball', 'c': 'Cat', 'e': 'Egg', 'f': 'Fish'}
b = a.pop('a')
print(a)
print(b)

{'b': 'ball', 'c': 'Cat', 'e': 'Egg', 'f': 'Fish'}
Apple

In [ ]:
#list inside dict

In [34]:
a = {'Ram':[9841574477,982345678],'Shyam':[9852122211,9817025532]}
a

{'Ram': [9841574477, 982345678], 'Shyam': [9852122211, 9817025532]}

In [35]:
a['Ram'][0]

9841574477

In [39]:
a['Ram'][0] = 9848400000
a

{'Ram': [9848400000, 982345678], 'Shyam': [9852122211, 9817025532]}

In [43]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc phone = "))
    ncell_phone = int(input("Enter ncell phone = "))
    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter n = 2
Enter name = jatin
Enter ntc phone = 9867835225
Enter ncell phone = 9821574477
Enter name = liam
Enter ntc phone = 9857025532
Enter ncell phone = 9811569546
{'jatin': [9867835225, 9821574477], 'liam': [9857025532, 9811569546]}

In [60]:
info =  {'name':['Ram',"Shyam","Hari","Ram"],
         'age':[78,89,20,89],
         'add':['Kathmandu','Bhaktapur','Lalitpur',"Kathmandu"]
        }
info

{'name': ['Ram', 'Shyam', 'Hari', 'Ram'],
 'age': [78, 89, 20, 89],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Kathmandu']}

In [55]:
print(info['name'][0])
print(info['age'][0])  #info['age'][0] = 99 for replcaing the age
print(info['add'][0])

Ram
78
Kathmandu

In [61]:
l = []
c= 0
for i in info['name']:
    if"Ram" == i:
        l.append(c) 
    print(c)
    c = c+1

0
1
2
3

In [66]:
# dict inside list 
data = [{'name':'Ram','age':'40','add':'Kathmandu'},
       {'name':'Shyam','age':'41','add':'Bhaktapur'},
       {'name':'Hari','age':'42','add':'Lalitpur'}]

data[2]

{'name': 'Hari', 'age': '42', 'add': 'Lalitpur'}

In [68]:
# dict inside list 
data = [{'name':'Ram','age':'40','add':['Kathmandu','Butwal']},
       {'name':'Shyam','age':'41','add':['Bhaktapur','Chitwan']},
       {'name':'Hari','age':'42','add':['Lalitpur','Boudha']}]

data

[{'name': 'Ram', 'age': '40', 'add': ['Kathmandu', 'Butwal']},
 {'name': 'Shyam', 'age': '41', 'add': ['Bhaktapur', 'Chitwan']},
 {'name': 'Hari', 'age': '42', 'add': ['Lalitpur', 'Boudha']}]

In [69]:
# dict inside dict
data = {1:{'name':'Ram','age':'40','add':'Kathmandu'},
        2:{'name':'Shyam','age':'41','add':'Bhaktapur'},
        3:{'name':'Hari','age':'42','add':'Lalitpur'}}

SyntaxError: invalid syntax (2109122057.py, line 2)

In [ ]:
WAP to create dict inside dict with CRUD
WAP to create list inside dict with CRUD
WAP to create dict inside list with CRUD

In [70]:
# WAP to create list inside dict with CRUD
d = {'name':[],'age':[],'add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)
    
print(d)

Enter n = 2
Enter name = jatin
Enter age = 20
Enter add = kathmandu
Enter name = liam
Enter age = 1
Enter add = germany
{'name': ['jatin', 'liam'], 'age': [20, 1], 'add': ['kathmandu', 'germany']}

In [71]:
# WAP to create dict inside list with CRUD 
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {'name':name,'age':age,'add':add}
    l.append(data)

print(l)

Enter n = 2
Enter name = jatin
Enter age = 20
Enter add = ktm
Enter name = liam
Enter age = 1
Enter add = ger
[{'name': 'jatin', 'age': 20, 'add': 'ktm'}, {'name': 'liam', 'age': 1, 'add': 'ger'}]

In [72]:
# WAP to create dict inside dict with CRUD
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d[i] = {'name':name,'age':age,'add':add}
    
print(d)

Enter n = 2
Enter name = jatin
Enter age = 20
Enter add = ktm
Enter name = liam
Enter age = 1
Enter add = germanny
{0: {'name': 'jatin', 'age': 20, 'add': 'ktm'}, 1: {'name': 'liam', 'age': 1, 'add': 'germanny'}}