In [ ]:
#Python collection
#list 
#tuple
#dic
#set

In [1]:
# List
#Indexing
#Multiple and duplicate data
#Ordered
#Mutable

SyntaxError: invalid syntax (2073667286.py, line 3)

In [2]:
a = ["Apple", "Ball", "Cat", "Fish"]
b = [1,2,3,4,5,6,7,8,9]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [5]:
a = ["Apple", "Ball", "Cat", "Fish"]
print(a[0])
print(a[0:3])
print(a[0:3:2])

Apple
['Apple', 'Ball', 'Cat']
['Apple', 'Cat']

In [7]:
b = [1,2,3,4,5,6,7,8,9,1,2,3,4]
print(b)
print(len(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4]
13

In [11]:
a = ["Apple", "Ball", "Cat", "Fish"]
b = [1,2,3,4,5,6,7,8,9,1,2,3,4]
c = a+b
print(c)
d= b+a
print(d)
e = a*2
print(e)

['Apple', 'Ball', 'Cat', 'Fish', 1, 2, 3, 4, 5, 6, 7, 8, 91, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 91, 2, 3, 4, 'Apple', 'Ball', 'Cat', 'Fish']
['Apple', 'Ball', 'Cat', 'Fish', 'Apple', 'Ball', 'Cat', 'Fish']

In [13]:
b = [1,2,3,4,5,6,7,8,9,1,2,3,4]
print(b*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4]

In [14]:
# a = []
a = list()
a = a + ["Apple"]
a = a + ["Ball"]
a

['Apple', 'Ball']

In [15]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a + [x]
    
print(a)

Enter n = 2
Enter x = 234
[234]
Enter x = 567
[234, 567]

In [16]:
a = [234,567,123,245,353,535,335,333,12,16,789]
print("The max value = ",max(a))
print("The min value = ",min(a))
print("The sum = ",sum(a))
print("The avg = ",sum(a)/len(a))

The max value =  789
The min value =  123
The sum =  3514
The avg =  390.44444444444446

In [20]:
a = [234,567,123,245,353,535,335,333,12,16,789]
a.sort() #for ascending order
print(a)

[12, 16, 123, 234, 245, 333, 335, 353, 535, 567, 789]

In [19]:
a = [234,567,123,245,353,535,335,333,12,16,789]
a.reverse() #for reversing
print(a)

[789, 16, 12, 333, 335, 535, 353, 245, 123, 567, 234]

In [25]:
a = ["Zebra","Banana","Xray","Apple","Cat"]
a.sort()
print(a)

['Apple', 'Banana', 'Cat', 'Xray', 'Zebra']

In [27]:
a = ["zebra","Banana","xray","apple","Cat"]
a.sort()
print(a)

['Banana', 'Cat', 'apple', 'xray', 'zebra']

In [28]:
a = ["zebra","Banana","1xray","apple","Cat"]
a.sort()
print(a)

['1xray', 'Banana', 'Cat', 'apple', 'zebra']

In [ ]:
# data entryvalue
# append() insert() extend()

# delete value
# del remove() pop()

In [29]:
# append
a = []
a.append("Apple")
a.append("Banana")
print(a)

['Apple', 'Banana']

In [31]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
print(a)

Enter n = 2
Enter x = 12
Enter x = 45
[12, 45]

In [34]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
    print(a)

Enter n = 4
Enter x = 123
[123]
Enter x = 455
[123, 455]
Enter x = 333
[123, 455, 333]
Enter x = 666
[123, 455, 333, 666]

In [35]:
a = [123, 455, 333, 666]
a.insert(1,100)
a

[123, 100, 455, 333, 666]

In [ ]:
# a = [1,"One",10l.5]

In [41]:
a = [123, 455, 333, 666] 
b = [1,2,3,4]
a.extend(b)
a
a

[123, 455, 333, 666, 1, 2, 3, 4]

In [44]:
#update
a = ["Zebra","Banana","1xray","apple","Cat"]
a[0] = "zebra"
a

['zebra', 'Banana', '1xray', 'apple', 'Cat']

In [47]:
#index (starts with 0)
a = ["Zebra","Banana","1xray","apple","Cat"]
a.index("Zebra")

0

In [55]:
#index
a = ["Zebra","Banana","1xray","apple","Cat","Zebra"]
for i in range(len(a)):
    if a[i] == "Zebra":
        print(i)

0
5

In [60]:
# update multiple values
a = ["Zebra","Banana","1xray","apple","Cat","Zebra"]
for i in range(len(a)):
    if a[i] == "Zebra":
        a[i] = "zebra"
        
print(a)

['zebra', 'Banana', '1xray', 'apple', 'Cat', 'zebra']

In [64]:
# delete
a = ["Zebra","Banana","1xray","apple","Cat","Zebra"]
del a[0]
print(a)

['Banana', '1xray', 'apple', 'Cat', 'Zebra']

In [65]:
# remove
a = ["Zebra","Banana","1xray","apple","Cat","Zebra"]
a.remove("Banana")
print(a)

['Zebra', '1xray', 'apple', 'Cat', 'Zebra']

In [67]:
# pop()
a = ["Zebra","Banana","1xray","apple","Cat","Zebra"]
a.pop(0)
print(a)

['Banana', '1xray', 'apple', 'Cat', 'Zebra']