In [1]:
# for loop
# while loop

In [2]:
# for loop
# range(5)  #0,1,2,3,4      for(i = 0;i<5;i++)
# range(1,5) # 1,2,3,4      for(i = 1;i<5;i++)
# range(1,10,2) #1,3,5,7,9  for(i = 1;i<5;i=i+2)

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [9]:
for i in range(1,6):
    print("Hello World",i)

Hello World 1
Hello World 2
Hello World 3
Hello World 4
Hello World 5

In [10]:
for i in range(1,10,2):
    print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [15]:
for i in range(5):
    print(i,"Hello World ",end = "")

0 Hello World 1 Hello World 2 Hello World 3 Hello World 4 Hello World

In [16]:
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [18]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [20]:
for i in range(3):
    x = int(input("Enter x = "))
    
print(x)

Enter x = 10
Enter x = 20
Enter x = 30
30

In [3]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
    
print(s)

Enter n = 5
Enter x = 234
Enter x = 456
Enter x = 34
Enter x = 65
Enter x = 678
1467

In [ ]:
# WAP to calculate facorial    #5! = 1*2*3*4*5
# WAp to calculate grade of multiple students
# WAp to create a billing system
# ---name,price,quantity,total,grand total