In [2]:
name = input("What is your name? ")
print("Hello " + name)

What is your name? Jatin
Hello Jatin

In [4]:
birth_year = int(input("enter your birth year: "))
age = 2080 - birth_year
print(age)

enter your birth year: 2059
21

In [16]:
first = float(input("Enter First number: "))
second = float(input("Enter Second number:  "))
sum = first + second
print(sum)

Enter First number: 9.9
Enter Second number:  2.1
12.0

In [15]:
first = float(input("Enter First number: "))
second = float(input("Enter Second number:  "))
sum = first + second
print("Sum: "+ str(sum))

Enter First number: 9.9
Enter Second number:  1.1
Sum: 11.0

In [22]:
course = 'Python for Beginners '
print(course.upper())
print(course)

PYTHON FOR BEGINNERS
Python for Beginners

In [30]:
course = 'Python for Beginners '
print(course.find('y'))
print(course.find('Y'))
print(course.find('Python'))

1
-1
0

In [32]:
course = 'Python for Beginners '
print(course.replace('for','4')) #replacing
print(course.replace('x','4')) #since there is no x so nothing is changed
print(course) #original value does not gets affected

Python 4 Beginners
Python for Beginners
Python for Beginners

In [33]:
course = 'Python for Begineers'
print('Python' in course)

True

In [35]:
#Arithmetic Operators

In [1]:
print(10 + 3)
print(10 / 3)
print(10 // 3) #floor divison
print(10 % 3) #we get remainder value
print(10 ** 3)

13
3.3333333333333335
3
1
1000

In [6]:
 x = 10
x +=3 #x = x + 3
print(x)

13

In [17]:
x = 10 + 3 * 2
b = (10 + 3) * 2
print(x)
b

16

26

In [21]:
#Boolean Expression >, >=, <, <=, ==, !=(NOT EQUAL)
x = 3 > 2
a = 3==2
print(x)
print(a)

True
False

In [22]:
price = 25
print(price > 10 and price < 30)

True

In [23]:
price = 5
print(price > 10 or price < 30)

True

In [26]:
price = 5
print(not price > 10) #Inveres the value we give

True

In [36]:
#If statement
temperature = 5
if temperature > 30:
    print("It's a hot day")
    print("Drink Plenty of Water")
elif temperature > 20: #(20,30]
    print("It's a nice day")
elif temperature > 10: #(10,20]
    print("It's a bit cold")
else:
    print("It's cold")
print("Done")

It's cold
Done

In [47]:
weight = int(input("Enter your weight : "))
unit = input("(K)g or (L)bs: ")
if unit.upper() == "K":
    converted = weight * 2.2
    print("Weight in Lbs: " + str(converted))
else:
    converted = weight / 2.2
    print("Weight in Kgs: " + str(converted))

Enter your weight : 76
(K)g or (L)bs: k
Weight in Lbs: 167.20000000000002

In [57]:
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [58]:
i = 1
while i <= 10:
    print(i * '*')
    i = i + 1

*
**
***
****
*****
******
*******
********
*********
**********

In [63]:
#Lists 
names = ["Jatin", "Liam", "Riwansh", "Rohan", "Aman"]
names[0]= "Joosaehyuk"
print(names[0:4])
print(names)

['Joosaehyuk', 'Liam', 'Riwansh', 'Rohan']
['Joosaehyuk', 'Liam', 'Riwansh', 'Rohan', 'Aman']

In [68]:
numbers = [1,2,3,4,5]
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 5, 6]

In [69]:
numbers.insert(0,-1)
print(numbers)

[-1, 1, 2, 3, 4, 5, 6]

In [70]:
numbers.remove(3)
print(numbers)

[-1, 1, 2, 4, 5, 6]

In [71]:
numbers.clear()
print(numbers)

[]

In [74]:
#using for loop
numbers = [1,2,3,4,5]
for item in numbers:
    print(item)

1
2
3
4
5

In [75]:
#using while loop
i = 0
while i < len(numbers):
    print(numbers[i])
    i = i + 1

1
2
3
4
5

In [1]:
numbers = range(8)
for number in numbers:
    print(number)

numbers = range(5,10)
for number in numbers:
    print(number)

0
1
2
3
4
5
6
7
5
6
7
8
9

In [80]:
numbers = range(5,10,2)
for number in numbers:
    print(number)

5
7
9

In [82]:
for number in range(5):
    print(number)

0
1
2
3
4

In [ ]:
#Tuples are immutable we cannot change them once we create them
numbers = (1, 2, 3)
numbers[0] = 10
print(numbers)

In [ ]:
dddd