In [ ]:
# set
# -No Indexing
# -No ordering
# -Multiple values but no duplicate values
# - Mutable

In [1]:
s = set()
s = {1,2,3,4,5,67,8,9}
print(type(s))

<class 'set'>

In [2]:
print(s[0]) #Set does not support indexing

TypeError: 'set' object is not subscriptable

In [4]:
s = {"Apple","Ball","Cat","Fish","Dog"}
print(s) #Set does not support ordering

{'Cat', 'Fish', 'Apple', 'Dog', 'Ball'}

In [5]:
s

{'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}

In [6]:
s = {"apple","ball","cat","fish","dog"}
print(s) #Set does not support ordering

{'cat', 'fish', 'apple', 'ball', 'dog'}

In [1]:
s = {34,56,22,78,1,78,34,23,79}
print(s)

{1, 34, 22, 23, 56, 78, 79}

In [2]:
s

{1, 22, 23, 34, 56, 78, 79}

In [3]:
s = {"apple","ball","cat","fish","dog","apple"} #removes duplication
s

{'apple', 'ball', 'cat', 'dog', 'fish'}

In [4]:
s = {"apple","ball","ball","cat","fish","dog","apple"}
s

{'apple', 'ball', 'cat', 'dog', 'fish'}

In [5]:
s = ["apple","ball","ball","cat","fish","dog","apple"]
list(set(s))

['cat', 'ball', 'apple', 'dog', 'fish']

In [8]:
s = set()
s.add('apple')
s.add('ball')
s.add('cat')
s

{'apple', 'ball', 'cat'}

In [ ]:
# in set and dic no + *

In [9]:
# update()
a = {1,2,3,4,5,6,7}
b = {5,6,7,2,3}
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7}

In [10]:
#list inside set is not acceptable (Interview Question)
a = {[1,2,3]}
a

TypeError: unhashable type: 'list'

In [11]:
# No dict insdie set
a = {{"a":"Apple"}}
a

TypeError: unhashable type: 'dict'

In [12]:
# Tuple inside set
a = {(1,2,3)} 
a

{(1, 2, 3)}

In [16]:
# No set inside set
a = {{1,2,3}}
a

TypeError: unhashable type: 'set'

In [20]:
apple = {"Ram","Shyam","Hari","Jobs","Steve","John"}
ms = {"Satya","Bill","Gates","Hari","John","Nabin"}

print(apple.intersection(ms))

{'John', 'Hari'}

In [21]:
print(apple.union(ms))

{'Bill', 'Ram', 'John', 'Gates', 'Nabin', 'Hari', 'Steve', 'Shyam', 'Satya', 'Jobs'}

In [22]:
apple-ms #difference of set

{'Jobs', 'Ram', 'Shyam', 'Steve'}

In [23]:
ms - apple

{'Bill', 'Gates', 'Nabin', 'Satya'}

In [24]:
(apple-ms).union(ms-apple) #intersection part is removed

{'Bill', 'Gates', 'Jobs', 'Nabin', 'Ram', 'Satya', 'Shyam', 'Steve'}

In [26]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {2,4,6,8,0}
print(a.issubset(b))
print(b.issubset(a))

False
True

In [27]:
print(a.issuperset(b))
print(b.issuperset(a))

True
False