In [3]:
a = 'Hello world'
b = "Hello World"
c ='' Hello world''

print(type(a),type(b),type(c))

<class 'str'> <class 'str'>

In [6]:
a = "Hello world \n"
print(a*2)

Hello world
Hello world

In [7]:
a = "Hello world"
for i in a:
    print(i,"I am Python")

H I am Python
e I am Python
l I am Python
l I am Python
o I am Python
  I am Python
w I am Python
o I am Python
r I am Python
l I am Python
d I am Python

In [13]:
a = "Hello World I am Python"
print(a[0])
print(a[0:5])
print(a[0:15:2])

H
Hello
HloWrdIa

In [21]:
a = "Python"
print(a[-5])

y

In [23]:
a = "Python"
print(a[-1:0:-1])

nohty

In [4]:
a = "Python"
print(a[-1:-1:-1])

In [5]:
a = "Python"
print(a[: :-1])

nohtyP

In [27]:
a = "Jatin Kasaudhan"
len(a)

15

In [31]:
a = "Jatin Kasaudhan"
print(a[-1:-16:-1])

nahduasaK nitaJ

In [33]:
a = "Hello world I am Python"
print(a[5:])

 world I am Python

In [35]:
a = "Hello world I am Python"
print(a[-1:-4:-1])

noh

In [ ]:
#String fomatting

In [ ]:
name = input("Enter name = ")
age = int(input("Enter Age = "))
add = (input("Enter add =  "))

#info ="Hello world I am " + name + "I am from " + add + "I am " + str(age)

print(info)

In [2]:
name = input("Enter name = ")
age = int(input("Enter Age = "))
add = (input("Enter add =  "))

#info ="Hello world I am " + name + "I am from " + add + "I am " + str(age)

info = f"Hello world I am {name}. I am from {add}. I am {age}."
print(info)

Enter name = liam
Enter Age = 1
Enter add =  germany
Hello world I am liam. I am from germany. I am 1.

In [1]:
a = "Nishchal Pankaj Prahlad Prajwal Mukesh Dipesh"
name = "Prajwal"
if name not in a:
    print("no there is")

In [5]:
a ="ram shyam hari nabin akash sita manish ramesh"
name = input("Enter name = ")
Name = "Sakar"
if name in a:
    print("yes there is")
    print(a.count(name))
else:
        print("No there is ")

Enter name = ram
yes there is
2

In [11]:
a ="ram shyam hari nabin akash sita manish ramesh"
print(a.upper())
print(a.lower())
print(a.title())
print(a)  #original data does not get changed

RAM SHYAM HARI NABIN AKASH SITA MANISH RAMESH
ram shyam hari nabin akash sita manish ramesh
Ram Shyam Hari Nabin Akash Sita Manish Ramesh
ram shyam hari nabin akash sita manish ramesh

In [13]:
a ="ram shyam hari nabin akash sita manish ramesh"
a = a.upper() # value is assigned
print(a)  #original data does not get changed

RAM SHYAM HARI NABIN AKASH SITA MANISH RAMESH

In [14]:
a ="RAM SHYAM HARI NABIN AKASH SITA MANISH RAMESH".lower()
name = input("Enter name = ").lower()
if name in a:
    print("yes there is")
    print(a.count(name))
else:
        print("No there is ")

Enter name = rAm
yes there is
2

In [15]:
a ="RAM SHYAM HARI NABIN AKASH SITA MANISH RAMESH"
a.split()

['RAM', 'SHYAM', 'HARI', 'NABIN', 'AKASH', 'SITA', 'MANISH', 'RAMESH']