In [ ]:
# Tuple
# -Indexing
# -Multiple and duplicate data
# -ordered
# -Imutbale

In [ ]:
# a = type()
# a = ()

In [21]:
a = (1,)
type(a)

tuple

In [24]:
a = (1,2,3,4,5,6,7,8,9,1)
print(a[0])
print(a[0:5])
print(a[0:10:2])

1
(1, 2, 3, 4, 5)
(1, 3, 5, 7, 9)

In [25]:
a = (1,2,3,4,5,6,7,8,9,1)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1)

In [26]:
a = (1,2,3,4)
b = (6,7,8,9)
c = a+b
print(c)

(1, 2, 3, 4, 6, 7, 8, 9)

In [27]:
a = (1,2,3,4)
print(a*2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
# No append() insert() extend()
# No updata
# No delete remove() pop() del
# No sort()

In [ ]:
# We can do max() min() sum() index()

In [28]:
a = ()
b = a+("Apple",)
c = b+("Banana",)
c

('Apple', 'Banana')

In [31]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter value for tuple = ")
    t = t + (x,)
print(t)

Enter n = 2
Enter value for tuple = Apple
Enter value for tuple = Ball
('Apple', 'Ball')

In [32]:
a = (1,2,3)
b = list(a)
b

[1, 2, 3]

In [33]:
a = [1,2,3]
b = tuple(a)
b

(1, 2, 3)

In [36]:
a = (1,2,3)
b = list(a)
del b[0]
a = tuple(b)
a

(2, 3)

In [37]:
a = "Python"
list(a)

['P', 'y', 't', 'h', 'o', 'n']

In [38]:
a = "Python"
tuple(a)

('P', 'y', 't', 'h', 'o', 'n')

In [40]:
a = 11
tuple(a)

TypeError: 'int' object is not iterable

In [ ]:
# From youtube (WsCube Tech)

In [1]:
t = (10,20,30,40,50)
print(type(t))

<class 'tuple'>

In [2]:
t = (10)
print(type(t))

<class 'int'>

In [3]:
t = (10,20,30,40,50)
n = t[3]
print(n)

40

In [6]:
# tuple function
t = (10,20,30,40,50)
l = len(t)
for a in range(l):
     print(a)  #index of tuple is printed

0
1
2
3
4

In [42]:
t = (10,20,30,40,50)
l = len(t)
for a in range(l):
     print(t[a]) # value in tuple is printed

10
20
30
40
50

In [9]:
t = (10,20,30,40,50)
for a in t:
    print(a)

10
20
30
40
50

In [11]:
t = (10,20,30,40,50)
m = min(t)
print(m)

10

In [12]:
t = (10,20,30,40,50)
m = max(t)
print(m)

50

In [13]:
t = (10,20,30,40,50)
c=t.count(10)
print(c)

1

In [14]:
t = (10,20,30,40,50,10)
c = t.count(10)
print(c)

2

In [15]:
t = (10,20,30,40,50)
c = t.index(50) 
print(c)  #index of 50 is printed

4

In [18]:
t = (10,20,30,40,50,60,50)
c = t.index(50) 
print(c) # since there are 2 50's so index of 50 which appears first is printed

4

In [19]:
t = (10,20,30,40,50)
s = sum(t)
print(s)

150

In [20]:
t = (10,20,30,40,50)
s = sum(t,20) # total sum  is again added with 20
print(s)

170