In [1]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''

print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

In [2]:
a = "10"
print(a)

10

In [3]:
# + *
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [5]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [7]:
a = "Hello World"
for i in a:
    print(i,"I am Python")

H I am Python
e I am Python
l I am Python
l I am Python
o I am Python
  I am Python
W I am Python
o I am Python
r I am Python
l I am Python
d I am Python

In [13]:
a = "Hello World I am Python"
print(a[0])
print(a[0:5])
print(a[0:15:2])

H
Hello
HloWrdIa

In [17]:
a = "Python"
print(a[-3])

h

In [25]:
a = "Python"
print(a[-1:-7:-1])

nohtyP

In [23]:
a = "Python"
print(a[: :-1])

nohtyP

In [27]:
a = "Hello World I am Python"
print(len(a))

23

In [32]:
a = "Hello World I am Python"

print(a[5:])

 World I am Python

In [33]:
a = "Hello World I am Python"
print(a[-1:-4:-1])

noh

In [34]:
# String formatting

In [36]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")

# info = "Hello world I am " + name+ "I am from " + add + "I am "+ str(age)
info = f"Hello world I am {name}. I am from {add}. I am {age}."
print(info)

Enter name = Ram
Enter age = 89
Enter address = Kathmandu
Hello world I am Ram. I am from Kathmandu. I am 89.

In [37]:
info = ""
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = float(input("Enter quantity = "))
    total = price*quantity
    data = f"{name} {price} {quantity} {total}\n"
    info = info + data
    grand_total = grand_total + total
print(grand_total)    
print(info)

Enter n = 2
Enter name = Ram
Enter price = 200
Enter quantity = 3
Enter name = Coke
Enter price = 100
Enter quantity = 3
900.0
Ram 200 3.0 600.0
Coke 100 3.0 300.0

In [47]:
a = "Ram Shyam Hari Nabin Akash Sita Manish Ramesh"
name = input("Enter name = ")
if name in a:
    print("yes there is")
    print(a.count(name))
else:
    print("No There is ")

Enter name = ram
No There is

In [51]:
a = "Ram Shyam Hari Nabin Akash Sita Manish Ramesh"
print(a.lower())
print(a.upper())
print(a)

ram shyam hari nabin akash sita manish ramesh
RAM SHYAM HARI NABIN AKASH SITA MANISH RAMESH
Ram Shyam Hari Nabin Akash Sita Manish Ramesh

In [52]:
a = "Ram Shyam Hari Nabin Akash Sita Manish Ramesh"
a = a.lower()
print(a)

ram shyam hari nabin akash sita manish ramesh

In [53]:
a = "Ram Shyam Hari Nabin Akash Sita Manish Ramesh".lower()
name = input("Enter name = ").lower()
if name in a:
    print("yes there is")
    print(a.count(name))
else:
    print("No There is ")

Enter name = rAm
yes there is
2

In [50]:
a = "ram shyam hari nabin akash sita manish ramesh"
print(a.title())

Ram Shyam Hari Nabin Akash Sita Manish Ramesh

In [40]:
a = "Ram Shyam Hari Nabin Akash Sita Manish Ramesh"
name = "Rajesh"
if name not in a:
    print("no there is")

no there is